.sidebar-item {
    margin-bottom: 8px;
}

.sidebar-item__header {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s;
    min-height: 30px;
}

.sidebar-item__header:hover {
    background-color: #9d9d9d;
}

.sidebar-item__arrow {
    color: #FFFFFF;;
    margin-right: 8px;
    font-size: 12px;
}

.sidebar-item__status-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 6px;
    flex-shrink: 0;
}

.sidebar-item__title {
    color: #FFFFFF;
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
    flex-grow: 1;
}

.sidebar-item__children {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px dashed #aaa;
    padding-top: 4px;
}