* {
    box-sizing: border-box;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Основной контейнер */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF;
}

.main-content__container {
    max-width: 1500px;
    height: 70vh;
    max-height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-content__title {
    text-align: center;
    padding-bottom: 5px;
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

.main-content__ups-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 15px;
    background-color: #F9F9FA;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.ups-card {
    min-width: 250px;
    width: auto;
    /*padding: 20px 20px 10px 20px;*/
    padding: 20px;
    background-color: #FFFEFF;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: max-content auto;
    gap: 15px 15px;
    align-items: baseline;
    align-content: start;
}

.ups-card_wide {
    flex: 0 0 375px;
}

.ups-card__row {
    display: contents;
}

.ups-card__label {
    text-align: left;
    font-size: 14px;
    color: #555;
    justify-self: start;
}

.ups-card__value {
    min-width: 50px;
    text-align: right;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    justify-self: end;
}

.ups-card__status {
    padding: 4px 12px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    justify-self: end;
}

.ups-card__status_simple-text {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    color: #555;
    justify-self: end;
}

.ups-card__buttons {
    grid-column: 1 / -1;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 15px;
}

.mode-button {
    width: auto;
    padding: 10px;
    height: 30px;
    background-color: #FFFEFF;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}

.mode-button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mode-button:focus {
    outline: none;
}

.mode-circle {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
}

.mode-text {
    font-size: 14px;
    color: black;
}

.mode-button--on .mode-circle {
    background-color: #016304;
}

.mode-button--off .mode-circle {
    background-color: #EE4D4D;
}